@layer library, reset, base, demo;
@import "https://unpkg.com/open-props@2.0.0-beta.5" layer(library);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap");

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  :where(:not(dialog)) {
    margin: 0;
  }
}

@layer demo {
  .section {
    --section-block-size: max(400px, 100dvb);
    display: grid;
    position: relative;
    block-size: 100%;
    display: grid;

    > * {
      grid-area: 1/1;
    }
  }

  .section-wrapper {
    position: relative;
    display: grid;

    @media (width >=960px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (width < 960px) {
      padding-block-start: calc(var(--nav-block-size) + var(--size-7));
      padding-block-end: var(--size-7);
    }
  }

  .content-wrapper {
    display: grid;

    @media (width < 960px) {
      gap: var(--size-7);
    }
  }

  .meta {
    display: grid;
    gap: var(--size-3);
  }

  .content {
    display: grid;
    inline-size: 100%;
    place-items: center;
    padding-block: var(--size-7);
    padding-inline: var(--size-5);

    @media (width >=960px) {
      padding: var(--size-10);
      min-block-size: 100cqb;
      place-items: center end;
    }

    @media (width < 960px) {
      gap: var(--size-5);
    }
  }

  .headline {
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-4);
    max-inline-size: var(--size-content-1);
    text-wrap: pretty;

    @media (width < 960px) {
      font-size: var(--font-size-6);
    }
  }

  .desc {
    font-size: var(--font-size-4);
    line-height: 1.5;
    max-inline-size: 60ch;
    text-wrap: pretty;
    color: white;
    @media (width < 960px) {
      font-size: var(--font-size-3);
    }
  }

  .visual {
    display: grid;
    position: sticky;
    block-size: var(--section-block-size);
    inset-block-start: 0;
    container-type: size;
  }
  .mobile-visual {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .visual {
      display: none;
    }
    .mobile-visual {
      display: block;
    }
  }

  .card-wrapper {
    container-type: size;
    display: grid;
    place-items: center;
    overflow: clip;

    > * {
      grid-area: 1/1;
    }
  }

  .card {
    inline-size: 70cqi;
    border-radius: var(--radius-3);
    scale: 0.4;
  }

  .card-img {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 15vh;
  }

  .card-1 {
    scale: 1;
  }

  .card-2 {
    translate: -35cqi 30cqb;
    opacity: 0.3;
  }

  .card-3 {
    translate: 0cqi 50cqb;
    opacity: 0.5;
  }

  .card-4 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-5 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-6 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-7 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-8 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-9 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-10 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-11 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-12 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .card-13 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .content-1 {
    --_text-gradient: linear-gradient(227deg, #268321 0%, #00bbff 100%);
  }
  .content-2 {
    --_text-gradient: linear-gradient(227deg, #dc28dc 0%, #14e293 100%);
  }

  .content-3 {
    --_text-gradient: linear-gradient(227deg, #1400c7 0%, #b800b1 100%);
  }

  .content-4 {
    --_text-gradient: linear-gradient(227deg, #b800b1 0%, #f55a00 100%);
  }

  .content-5 {
    --_text-gradient: linear-gradient(227deg, #00b8b8 0%, #f50000 100%);
  }
  .content-6 {
    --_text-gradient: linear-gradient(227deg, #b82b00 0%, #7e2727 100%);
  }
  .content-7 {
    --_text-gradient: linear-gradient(227deg, #773975 0%, #f5000069 100%);
  }
  .content-8 {
    --_text-gradient: linear-gradient(227deg, #00b828 0%, #f5c800 100%);
  }
  .content-9 {
    --_text-gradient: linear-gradient(227deg, #44378d 0%, #00f5b8 100%);
  }
  .content-10 {
    --_text-gradient: linear-gradient(227deg, #41a8a0 0%, #302b5c 100%);
  }

  .content-11 {
    --_text-gradient: linear-gradient(227deg, #41a8a0 0%, #302b5c 100%);
  }

  .content-12 {
    --_text-gradient: linear-gradient(227deg, #41a8a0 0%, #302b5c 100%);
  }

  .content-13 {
    --_text-gradient: linear-gradient(227deg, #41a8a0 0%, #302b5c 100%);
  }

  .text-highlight {
    background: var(--_text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

@supports (animation-timeline: scroll()) {
  body {
    timeline-scope: --content-1, --content-2, --content-3, --content-4,
      --content-5, --content-6, --content-7, --content-8, --content-9,
      --content-10, --content-11, --content-12, --content-13;
  }

  .section {
    view-timeline-name: --section;
  }

  .content-1 {
    view-timeline-name: --content-1;
  }

  .content-2 {
    view-timeline-name: --content-2;
  }

  .content-3 {
    view-timeline-name: --content-3;
  }

  .content-4 {
    view-timeline-name: --content-4;
  }

  .content-5 {
    view-timeline-name: --content-5;
  }
  .content-6 {
    view-timeline-name: --content-6;
  }
  .content-7 {
    view-timeline-name: --content-7;
  }
  .content-8 {
    view-timeline-name: --content-8;
  }
  .content-9 {
    view-timeline-name: --content-9;
  }
  .content-10 {
    view-timeline-name: --content-10;
  }

  .content-11 {
    view-timeline-name: --content-11;
  }

  .content-12 {
    view-timeline-name: --content-12;
  }

  .content-13 {
    view-timeline-name: --content-13;
  }

  .card {
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .card-1 {
    animation-timeline: --content-1;
    animation-name: slide-up-first-card;
  }

  .card-2 {
    animation-timeline: --content-2;
    animation-name: slide-up-card;
  }

  .card-3 {
    animation-timeline: --content-3;
    animation-name: slide-up-card;
  }

  .card-4 {
    animation-timeline: --content-4;
    animation-name: slide-up-card;
  }

  .card-5 {
    animation-timeline: --content-5;
    animation-name: slide-up-card;
  }
  .card-6 {
    animation-timeline: --content-6;
    animation-name: slide-up-card;
  }
  .card-7 {
    animation-timeline: --content-7;
    animation-name: slide-up-card;
  }
  .card-8 {
    animation-timeline: --content-8;
    animation-name: slide-up-card;
  }
  .card-9 {
    animation-timeline: --content-9;
    animation-name: slide-up-card;
  }
  .card-10 {
    animation-timeline: --content-10;
    animation-name: slide-up-card;
  }

  .card-11 {
    animation-timeline: --content-11;
    animation-name: slide-up-card;
  }

  .card-12 {
    animation-timeline: --content-12;
    animation-name: slide-up-card;
  }

  .card-13 {
    animation-timeline: --content-13;
    animation-name: slide-up-card;
  }

  @keyframes slide-up-first-card {
    50% {
      translate: 0;
      opacity: 1;
    }

    90% {
      translate: 0 -50cqi;
      scale: 0.6;
    }

    100% {
      translate: 0 -100cqi;
      opacity: 0;
    }
  }

  @keyframes slide-up-card {
    50% {
      opacity: 1;
      translate: 0;
      scale: 1;
    }

    90% {
      opacity: 0.5;
      scale: 0.6;
      translate: 0 -50cqb;
    }

    100% {
      translate: 0 -100cqi;
      opacity: 0;
    }
  }
}
